*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  padding: 10px;
}

input[name="todo"] {
  padding: 10px;
  width: 300px;
}
input[name="todoSearch"] {
  padding: 10px;
  width: 400px;
}

button[type="submit"] {
  padding: 10px;
  width: 80px;
  background-color: royalblue;
  color: white;
  cursor: pointer;
}
.todoSection {
  margin: 5px 0px;
  display: flex;
  flex-direction: auto;
  flex-wrap: wrap;
}
.searchForm {
  margin: 8px 0px;
}
.item {
  padding: 15px;
  margin: 5px;
  border: 1px solid #000;
  width: 150px;
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  cursor: pointer;
}
.item.active {
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.2);
}

.fa-solid {
  color: red;
}
.description {
  padding: 5px;
  margin: 5px 0px;
  border: 1px solid #000;
  border-radius: 6px;
  width: 500px;
}
.clear-all {
  padding: 8px;
  width: 400px;
  background-color: #000;
  color: white;
}
